/* general */

/* General */
body {
  margin: 0;
  background: url("https://png.pngtree.com/thumb_back/fw800/background/20230416/pngtree-coffee-beautiful-background-image_2371590.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: "Sour Gummy", serif, Arial, sans-serif;
  font-size: large;
}

h1 h2 {
  color: #6b4e31;
}

/* main-container */
.main-container {
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* header */
header {
  grid-area: header;
  background: rgba(77, 75, 75, 0.7);
  color: #fff;
  background-color: #6b4e31;
  padding: 1rem;
}

.logo img {
  height: 80px;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav a {
  padding: 10px;
  color: white;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

nav a:hover {
  background-color: #413e3e;
}

/* main */
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background: rgba(39, 38, 38, 0.7);
}

/* home */
#home {
  padding: 4rem 0;
  text-align: center;
  color: white;
}

#home a {
  background-color: #6b4e31;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

#home a:hover {
  background-color: #413e3e;
}

/* about */
.about-content {
  max-width: 1200px;
  margin: 0 auto;
}

.about-content h2 {
  text-align: center;
}

/* menu */
.menu-content {
  max-width: 1200px;
  margin: 0 auto;
}

.menu-content h2 {
  text-align: center;
}

/* contact */
.contact-content {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info ul {
  padding-left: 20px;
}

.contact-info ul li {
  list-style: none;
  color: #ac7b4a;
}

.contact-form {
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5;
}

/* btn */
button {
  border: none;
  background-color: #6f4e37;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  display: block;
  margin: auto;
  cursor: pointer;
  width: 50%;
}

button:hover {
  background-color: #a0522d;
  color: #000000f5;
}

/* footer */
footer {
  grid-area: footer;
  text-align: center;
  padding: 1rem;
  background: rgba(133, 123, 123, 0.651);
  color: #fff;
}
